// // 1. Import the initial variables
// @import "../../node_modules/bulma/sass/utilities/initial-variables";
// @import "../../node_modules/bulma/sass/utilities/functions";

// // 2. Set your own initial variables
// // Update blue
// $blue: #72d0eb;
// // Add pink and its invert
// $hap-primary: #9B4E58;
// $hap-primary-invert: #F4F3F1;


// // 3. Set the derived variables
// // Use the new pink as the primary color
// $primary: $hap-primary;
// $primary-invert: $hap-primary-invert;


@mixin flex($typeFlex, $wrapFlex, $justifyFlex, $alignFlex) {
  display: flex !important;
  align-content: $alignFlex !important;
  align-items: $alignFlex !important;
  flex-direction: $typeFlex !important;
  justify-content: $justifyFlex !important;

  @if $wrapFlex == wrap {
      flex-wrap: wrap !important;
  }
  @else if $wrapFlex == w {
      flex-wrap: wrap !important;
  }
  @else if $wrapFlex == nowrap {
      flex-wrap: nowrap !important;
  }
  @else if $wrapFlex == n {
      flex-wrap: nowrap !important;
  }
  @else if $wrapFlex == '' {
      flex-wrap: nowrap !important;
  }
}


$dark-theme-background-color: #783441;
$dark-theme-primary-color:#D3A073;
$dark-theme-secondary-color: #F4F3F1;

body {
  margin: 0;
}

header {
  @include flex(row, n, space-between, start);
  background-color: $dark-theme-background-color;
  height: 60px;
  font-family: sans-serif;



  h1.title {
    color: $dark-theme-primary-color;
    display: inline-block;
    font-size: 1rem;
    padding-right: 10px;
    margin-left: 30px;
  }

  h2.subtitle {
    color: $dark-theme-secondary-color;
    display: inline-block;
    font-size: 1rem;
  }

  img.hamsa-logo {
    margin-left: 120px;
    z-index: 9999;
  }

  img.monastery-logo {
    margin-right: 120px;
    z-index: 9999;
  }
}

img.hamsa-logo {
 	width: 200px;
 	border: solid 0px 1px 1px 1px #fff;
}

img.monastery-logo {
  width: 90px;
}

//
// Hero
//

.hero {
  width: 90%;
  margin: auto;

  figure {
    width: 100%;
    max-width: 100%;
    position: relative;
    max-height: 400px;
    overflow: hidden;
    margin: 0;


    img.hero {
      max-width: 100%;
      width: 100%;
    }

    span.label {
      line-height: 2rem;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 60px;
      width: 100%;
      max-width: 100%;
      opacity: 0.8;
      background-color: $dark-theme-background-color;
      color: $dark-theme-primary-color;
      font-family: sans-serif;
      font-size: 1.1em;
      padding-left: 60px;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
}


//
// Masonry
//

*, *:before, *:after {box-sizing:  border-box !important;}


div.collection {
  margin:auto;
  width: 90%;

  h1 {
    text-align: center;
  }
}

section.masonry {
  column-width: 10em;
 -moz-column-width: 10em;
 -webkit-column-width: 10em;
 column-gap: 1em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;

}

div.tile {
 display: inline-block;
 margin:  0.25rem;
 width:  100%;
 background:  #FFF;
 border: solid 1px #c5c4c4;

  figure {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;


    img {
      max-width: 100%;
      width: 100%;
    }

    p {
      padding-left: 20px;
      width: 100%;
      max-width: 100%;
      color: #000;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1.1em;
    }

  }
}

img.is-single-item-display {
  max-width: 100%;
}




// // 5. Add new color variables to the color map.
// @import "../../node_modules/bulma/sass/utilities/derived-variables.sass";


// // 6. Import the rest of Bulma
// @import "../../node_modules/bulma/bulma";

