@include respond-below(md) {
  .selector-controls {
    display: none;
  }

  .hide-in-mobile {
    display: none !important;
  }

  // .hero {
  //   max-height: 250px;
  //   height: 250px;
  //   figure {
  //     max-height: 250px;
  //     height: 250px;

  //     img.hero {
  //       height: 250px;
  //       overflow: hidden;
  //     }
  //   }
  // }

  .hero {
    max-height: 185px !important;
    height: 185px !important;

    figure {
      max-height: 185px !important;
      height: 185px !important; 
      img.hero {
        max-height: 185px !important;
        height: 185px !important;
      }
    }
  }

  header {
    display: none !important;
  }

  .mobile-header {
    display: flex;
  }

  .single-image-wrapper {
    flex-direction: column;
    padding-top:10px;
  }

  
  .artist-metadata {
    flex-direction: column;
    justify-items: center;
  }

  section.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    padding: 10px;
  }
}