@include respond-below(md) {
  .selector-controls {
    display: none;
  }

  header {
    display: none !important;
  }

  .mobile-header {
    display: flex;
  }

  .single-image-wrapper {
    flex-direction: column;
  }
}